.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    background: #fff;
    /* background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80"); */
}

img {
    margin-bottom: 10px;
}

.comments {
    margin: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 20px;
    padding: 10px;
}

.image-button {
    margin-left: 20px;
}

.image-input {
    width: 100%;
}

.post-card {
    background-color: white;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    margin-top: 30px;
    margin-bottom: 10px;
}

b {
    font-weight: 450;
}

.comment-input {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
}

.comment-form-field {
    width: 80%;
}
